@import "./variables";

#features {
    margin-bottom: 50px;
    @include media-md {
        margin-bottom: 100px;
    }

    .features-text {
        text-align: center;
        margin: 0 auto 50px;

        @include media-md {
            max-width: 600px;
        }

    }

    // first tab (button in html) that is active by default
    .nav .nav-item .active {
        border-bottom: 4px solid red;
    }

    // all tabs (buttons)
    .nav-item .nav-link {
        border: 0;
        padding-bottom: 15px;
        color: black;

        &:focus {
            border-bottom: 4px solid red;
        }
    }

    .features-tabs {
        flex-direction: column;
        align-items: center;
        border-bottom: 0 !important;

        @include media-md {
           flex-direction: row;
           justify-content: space-between;
           margin: 0 auto;
           border-bottom: 1px solid rgb(139, 132, 132, 0.3) !important;
           max-width: 600px;
        }

        .feature-border {
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            @include media-md {
                display: none;
             }
        }

        .feature-border:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-top: 1px solid rgb(139, 132, 132, 0.3);
        }
        
    }

    // image
    .spacing {
        margin-bottom: 100px;

        .main-box {
         position: relative;

        .img-bckg {
            height: 90%;
            width: 80%;
            position: absolute;
            background-color: $primary; 
            border-radius: 0 0 80px 0;
            top: 30%;
            left: 0;
            z-index: -1;
        }

        .features-img {
            padding: 0 40px;
            width: 100%;
        }
        }
    }

    // description of each tab under / to the right of the image
    .tab-content {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;

        @include media-md {
            text-align: left;
            margin-top: 70px;
        }

        .tab-pane {
            .no-show {
                visibility: hidden;

                @include media-md {
                    visibility: visible;
                }
            }
        }

    }

  

}