@import "./variables";
@import "./features";
@import "./downloads";
@import "./questions";
@import "./footer";


body {
    p, .accordion-body {
        @include light-text; 
    }
}

// navigation
nav {
    z-index: 1030;
    background-color: $primary;

    @include media-md {
        background-color: white;
    }

    ul {
        padding-top: 50px;

        @include media-md {
            padding: 0;
        }
    }

    li {
        font-weight:500;
        font-size: 20px;
        text-align: center;
        border-top: 1px solid white;
        padding: 5px 0;
        color: white;

        @include media-md {
            border: none;
            padding: 0;
            margin-left: 10px;
        } 

    }

    li:last-of-type {
        margin-top: 30px;
        border: 1px solid white;
        border-radius: 30px;

        @include media-md {
            margin-top: 0;
            border: none;
            border-radius: 5px;
            padding: 0 5px;
            background-color: $secondary;
        } 
    }

    .nav-link {
        color: white;

        @include media-md {
            color: black;
        }
    }

    .navbar-collapse {
        @include media-md {
            flex-grow: 0;
        }
    }

    #social-icons {
        margin: 100px 0 30px;

        @include media-md {
            display: none;
        }
    }
}

// main 

main {
    margin-bottom: 100px;

    .spacing {
        // margin-bottom: 50px;

        @include media-md {
            order: 2;
         }

        .main-box {
         position: relative;
         margin-top: 100px;

        .img-bckg {
            height: 80%;
            width: 80%;
            position: absolute;
            background-color: $primary; 
            border-radius: 0 0 0 80px;
            top: 20%;
            right: 0;
            z-index: -1;
        }
        }
    }


    .landing-text {
            text-align: center;
            margin-top: 50px;

            @include media-md {
                margin-top: 150px;
                text-align: left;
            }

            @include media-lg {
                margin-top: 200px;
                padding: 0 70px;
            }
        }


        .landing-buttons {
            display: flex;
            justify-content: center;
            gap: 20px;

            @include media-md {
                justify-content: start;
            }

            button {
                box-shadow: 10px 10px 20px gray;
            }
        }

    }



// import bootstrap from the node_modules folder
@import "../node_modules/bootstrap/scss/bootstrap";